/*Variables*/
// colors starts
$primary-color: rgb(22,74,159);
$base-color: #f1f1f1;
$search-color: #1d1b31;
$sidebar-color: #063146;
$footer-bottom:rgba(0, 0, 0, 0.2);
$h2: rgb(90, 87, 87);

$secondary: #333;
// colors ends

// fonts
$font-roboto: "Roboto", sans-serif;
